<h1>Ingrese los datos</h1>
<br>

<form action="/products" method="create">

    <div class="form-group">
        <label for="name"><b>Nombre</b></label>
        <input id="name" class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
        <label for="price"><b>Precio</b></label>
        <input id="price" class="form-control" type="text" name="price">
    </div>

    <button class="btn-send">Post</button>
</form>